<!DOCTYPE html>
<html lang="en">

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type=text/javascript>
var state;
var distance;

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('server status', function(msg) {
        state = msg.state;
        distance = msg.remaining;
        $('#log').append('<br>Received: ' + state + ' ' + distance);
    });
    $('#turnon').submit(function(event) {
        socket.emit('set enable', {enable: true});
        $('#log').append('<br>Sent: enable: True');
        return false;
    });
    $('#turnoff').submit(function(event) {
        socket.emit('set enable', {enable: false});
        $('#log').append('<br>Sent: enable: False');
        return false;
    });
});

// Update the count down every 1 second
var x = setInterval(function() {

  var enable = document.getElementById("enable");
  var disable = document.getElementById("disable");
  var state_msg = document.getElementById("state_msg");

  if (state) {
    disable.style.opacity = 1;
    enable.style.opacity = 0;
    state_msg.innerHTML = 'Internet enabled';
  } else {
    disable.style.opacity = 0;
    enable.style.opacity = 1;
    state_msg.innerHTML = 'Internet DISABLED';
  }

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor(distance / (60 * 60));
  var minutes = Math.floor(distance % (60 * 60) / 60);
  var seconds = distance % 60;

  // Display the result in the element with id="timer"
  document.getElementById("timer").innerHTML = "Remaining time: " + hours + "h "
  + minutes + "m " + seconds + "s ";

  if (state != 0) {
    distance -= 1;
  }

  // If the count down is finished, write some text
  if (distance <= 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "Remaining time: None";
  }

}, 1000);

</script>

<head>
    <title>Internet Timer</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Internet Timer</h1>
            <p class="lead"></p>
            <p id="state_msg"></p>
            <p id="timer"></p>
            <form id="turnon" action="#" method="post">
                <input type="submit" class="btn btn-lg btn-success" href="#" id="enable" role="button" value="Enable Internet">
            </form>
            <form id="turnoff" action="#" method="post">
                <input type="submit" class="btn btn-lg btn-danger" href="#" id="disable" role="button" value="Disable Internet">
            </form>
            </p>
            <p id="log">Log:</p>
        </div>

        <div class="row marketing">
        </div>

        <footer class="footer">
            <p>Running on palo</p>
        </footer>

    </div>
</body>

</html>
